


<app-header></app-header>

<!--<div class="content">-->

<main>
<!--<app-post-create (postCreated)="onPostAdded($event)"></app-post-create>-->
<!--  <app-post-create></app-post-create>-->
<!--  <app-post-list [posts]="storedPost"></app-post-list>-->
<!--  <app-post-list></app-post-list>-->
  <router-outlet></router-outlet>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
  <p>Test1 Test1 Test1 Test1</p>
  <p>Test2 Test1 Test1 Test1</p>
  <p>Test3 Test1 Test1 Test1</p>
  </div>
  <div class="col-md-4">
    <p>Test1 Test1 Test1 Test1</p>
    <p>Test2 Test1 Test1 Test1</p>
    <p>Test3 Test1 Test1 Test1</p>
    </div>
    <div class="col-md-4">
      <p>Test1 Test1 Test1 Test1</p>
      <p>Test2 Test1 Test1 Test1</p>
      <p>Test3 Test1 Test1 Test1</p>
      </div>
</div>
  </div>
</main>
<!--</div>-->

<app-footer></app-footer>
